/* Styles généraux pour le corps de la page */
body {
    background-color: #d5deeb;
    /* couleur d'arrière plan de la page*/
    font-family: system, -apple-system, ".SFNSText-Regular", "San Francisco",
        /* la police de caractère pour le texte */
        "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
    font-size: 13px;
    /* la taille de police */
    margin: 0 auto;
    /* Centrer le contenu de la page "une marge automatique à gauche et à droite"*/
    max-width: 800px;
    /* fixer la largeur maximale du contenu */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* hauteur de la page par rapport à la hauteur de la fenetre du navigateur */

}

/* Réinitialisation de la mise en page par défaut */
* {
    margin: 0;
    /*Remettent les marges et les rembourrages par défaut à zéro*/
    padding: 1;
    /*pareil*/
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;

}

body {
    background-color: rgb(252, 253, 253);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Styles pour le formulaire */
form {
    /* Cible le formulaire de la page HTML*/
    display: flex;
    /*Applique un affichage en flexbox*/
    flex-direction: column;
    /* Organise les éléments du formulaire en colonne (un en dessous de l'autre)*/
    background-color: rgb(241, 239, 227);
    /*couleur de fond du formulaire.*/
    padding: 50px;
    /*  Ajoute un espace tampon intérieur au formulaire*/
    border-radius: 6px;
    /* Arrondit les coins du formulaire*/
    box-shadow: 0 0 10px rgba(150, 122, 163, 0.986);
    /* Ajoute une ombre autour du formulaire */

}

input:invalid+.icon-ok {
    display: none;
}

label {
    width: 175px;
    display: inline-block;
}

input {
    width: 350px;
    padding: 6px 10px;
    border-radius: 20px;
    border: 1.5px solid rgb(222, 185, 230);
    font-size: 0.75rem;
    box-sizing: border-box;
    /* pour s'assurer que les margin/padding n'impacte pas la largeur width */
}

input[type="submit"] {
    margin-top: 30px;
    background-color: #dbe2ec;
    border: 2px solid #ad95b4;
    cursor: pointer;
    display: inline-block;
    margin-top: 40px;
    padding: 6px 12px;
    border-radius: 20px;
    text-decoration: none;
    color: #522cdb;
    /* Changer la couleur du texte si nécessaire */
}

/* Pour centrer le bouton horizontalement */
input[type="submit"] {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* Lorsque l'utilisateur survole le bouton */
.btn-primary:hover {
    transform: translate(0, -5px);
    /* Déplace le curseur vers le haut de 5 pixels (ajustez la valeur selon vos préférences) */
}

/* Styles du bouton */

.btn-primary {
    border-radius: 5px;
    padding: 6px 12px;
    background-color: #a3c9d8;
    border-color: #adc9f3;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

/*******************************************/
/*******************************************/
/* La partie css du code action.html*/

/* Styles pour le bouton de retour */
.btn-primary {
    text-decoration: none;
    background-color: #e72d93;
    color: #fff;
    padding: 5px 10px;
    border-radius: 20px;
    display: inline-block;
    margin-bottom: 1px;
}

/* Styles pour le titre h1 */
h1 {
    font-size: 20px;
    margin: 30px 30;
}

/* Styles pour les paragraphes */
p {
    font-size: 12px;
}

/* Styles pour les liens a */
a {
    color: #007BFF;
    text-decoration: none;
}

/* Styles pour les liens a au survol */
a:hover {
    text-decoration: underline;
}

/* Styles pour les balises span avec des IDs spécifiques */
#firstname,
#lastname {
    font-weight: bold;
    color: #e72d93;
    /* Changez la couleur selon vos préférences */
}

#Date de naissance {
    font-style: italic;
    color: #e72d93;
    /* Changez la couleur selon vos préférences */
}

#Adresse {
    font-style: italic;
    color: #e72d93;

}


#Email {
    color: #007BFF;
    font-weight: bold;
}

/* Styles pour le fond de la page */
body {
    background-image: url('image2.jpg');
    /* Remplacez 'votre-image.jpg' par le chemin de votre image de fond */
    background-size: cover;
    /* Ajuste la taille de l'image pour remplir tout le corps */
    background-repeat: no-repeat;
    /* Empêche la répétition de l'image */
    background-attachment: fixed;
    /* Fixe l'image en place, pour un effet de parallaxe */
    background-position: center center;
    /* Centre l'image à l'horizontale et à la verticale */
}